body{
    margin: 0;
    padding: 0;
    background: #e3edf7;
    font-family: sans-serif;
}
h1{
    margin: 10% auto 0;
    text-align: center;
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 4px;
    color:#555;
}
input{
    display: block;
    margin: 1% auto;
    width: 52%;
    height: 5vh;
    text-align: center;
    border: none;
    border-radius: 6px;
    outline: none;
    color: #555;
    font-size: 20px;
}
.calculator{
    margin:  0% auto;
    width: 60%;
    height: 50vh;
    text-align: center;
}
.calculator button{
    margin: 1%;
    width: 20%;
    height: 20%;
    font-size: 20px;
    color:#777;
    border-radius: 8px;
    background: #ddd;
    outline: none;
    border: solid 1px #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .5s;
}
h4{
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #555;
}
button:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                 -0.5px -0.5px 0px rgba(0, 0, 0, 0.15),
                 0px 12px 10px -10px rgba(0, 0, 0, 0.5);
    color: #555;
    font-weight: 600;
}
h1::selection{
    color: #e3edf7;
    background: #777;
}